
@{
    Layout = null;
}
@model GiaoDienDoAn.Models.LoginModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng Nhập Giảng Viên</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/User/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/User/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/User/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Img/pexels-photo-268533.jpeg');
">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Đăng nhập Giảng Viên
                </span>
                @using (Html.BeginForm("Login", "Login", FormMethod.Post))
                {
                    <!--Hiển thị câu thông báo khi nhập sai hoặc để trống-->
                    @Html.ValidationSummary(false, "*", new { @class = "text-danger" });
                    <form class="login100-form validate-form p-b-33 p-t-5">
                        <div class="wrap-input100 validate-input" data-validate="Enter username">
                            @Html.TextBoxFor(model => model.TaiKhoan, new { @class = "input100", @placeholder = "Nhập Tên Tài Khoản" })
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            @Html.PasswordFor(model => model.MatKhau, new { @class = "input100", @placeholder = "Nhập Mật Khẩu" })
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>
                        <div class="container-login100-form-btn m-t-32">
                            <button type="submit" class="login100-form-btn">Đăng Nhập</button>
                        </div>
                    </form>
                }
                </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/User/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/User/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/User/js/main.js"></script>

</body>
</html>