<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://trancongdan-001-site1.itempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://trancongdan-001-site1.itempurl.com:8172/MsDeploy.axd?site=trancongdan-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>trancongdan-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>trancongdan-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QLGVDBContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CSDL.EF.QLGVDBContext, CSDL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="QLGVDBContext10" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5064.site4now.net,1433;Initial Catalog=db_a7706f_trancongdan;User ID=db_a7706f_trancongdan_admin;Password=Congdan09042000" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QLGVDBContext10_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5064.site4now.net,1433;Initial Catalog=db_a7706f_trancongdan;User Id=db_a7706f_trancongdan_admin;Password=Congdan09042000;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLGVDBContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)QLGVDBContext10-Web.config Connection String" />
  </ItemGroup>
</Project>